.table_with_border table, .table_with_border td, .table_with_border th {
    border-collapse: collapse;
    border: 1px solid #333;
}

.table_with_border th {
    background-color: #dedede;
}
